.happy {
	font-family: Brush Script MT, Brush Script Std, cursive;
	text-align: center;
	font-size: 100px;
}
.click{
	font-family: Courier New, monospace;
	text-align: center;
	font-size: 35px;
}
body{
	background: url(lol.jpg) no-repeat fixed center;
}
.puso{
	text-align: center;
	

}